{% extends 'base.html.twig' %}

{% block title %}Listado de laboratorios{% endblock %}

{% block body %}
<div class="row centrado">
    <div class="col-10">
        <h1>Listado de laboratorios</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cuit</th>
                    <th>Razonsocial</th>
                    <th>Direccion</th>
                    <th>Codigo</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for laboratorio in laboratorios %}
                <tr>
                    <td>{{ laboratorio.nombre }}</td>
                    <td>{{ laboratorio.cuit }}</td>
                    <td>{{ laboratorio.razonsocial }}</td>
                    <td>{{ laboratorio.direccion }}</td>
                    <td>{{ laboratorio.codigo }}</td>
                    <td>
                        <button class="btn btn-success">
                            <a href="{{ path('app_laboratorio_show', {'id': laboratorio.id}) }}">Ver</a>
                        </button>
                        <button class="btn btn-warning">
                            <a href="{{ path('app_laboratorio_edit', {'id': laboratorio.id}) }}">Editar</a>
                        </button>
                        <form method="post" action="{{ path('app_laboratorio_delete', {'id': laboratorio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');"  class="margin-top-10px">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ laboratorio.id) }}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row centrado">
    <div class="col-10">
        <a href="{{ path('app_laboratorio_new') }}"><button  class="btn btn-success">Crear nuevo laboratorio</button></a>
    </div>
</div>
{% endblock %}
